<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Погода</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .container {
            margin-top: 20px;
        }
        .search-form {
            width: 100%; /* Make the form take up full width */
        }
        .search-form .form-control {
            flex-grow: 1; /* Allow the input to expand to fill available space */
        }
        .favorite-icon {
            cursor: pointer; /* Indicate clickable icon */
            margin-left: 10px; /* add space between location name and icon */
        }
    </style>
</head>
    <body>
    <div class="container">
        <form th:action="@{/locations}" method="post" class="d-flex search-form">
            <input type="text" id="locationSearch" name="locationName" class="form-control"
                   placeholder="Поиск локации по названию">
            <button type="submit" class="btn btn-primary ms-2">Найти</button>
        </form>

        <div class="d-flex align-items-center mt-4">
            <h1 th:text="${locationName}"></h1>
            <span th:if="${isAuthenticated}" class="favorite-icon" style="cursor: pointer;" onclick="addToFavorites(event)">
                 <i class="fa-regular fa-star" ></i>
            </span>
        </div>


        <div th:if="${error}" class="alert alert-danger mt-3" role="alert">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${weatherData}" class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Погода</h5>
                <p class="card-text">Температура: <span th:text="${temperature}"></span> °C</p>
                <p class="card-text">Описание: <span th:text="${description}"></span></p>
            </div>
        </div>
        <script>
            function addToFavorites(event) {
                event.preventDefault();
                var locationName = document.querySelector('h1').textContent;
                fetch('/locations/favorites', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'locationName=' + encodeURIComponent(locationName)
                })
                    .then(response => {
                        if(response.ok){
                            console.log('success');
                            let starIcon = event.target;
                            starIcon.classList.remove('fa-regular');
                            starIcon.classList.add('fa-solid');
                        }else{
                            console.log('error');
                        }
                    })
                    .catch(error => console.error('Error:', error));

            }
        </script>
    </div>
</body>
</html>